@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 85 100% 95%;
		--foreground: 85 5% 10%;
		--card: 85 50% 90%;
		--card-foreground: 85 5% 15%;
		--popover: 85 100% 95%;
		--popover-foreground: 85 100% 10%;
		--primary: 85 100% 30%;
		--primary-foreground: 0 0% 100%;
		--secondary: 85 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 47 30% 85%;
		--muted-foreground: 85 5% 35%;
		--accent: 47 30% 80%;
		--accent-foreground: 85 5% 15%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 85 5% 90%;
		--border: 85 30% 50%;
		--input: 85 30% 26%;
		--ring: 85 100% 30%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 82 50% 10%;
		--foreground: 82 5% 90%;
		--card: rgb(76, 133, 11);
		--card-foreground: 82 5% 90%;
		--popover: 82 50% 5%;
		--popover-foreground: 82 5% 90%;
		--primary: 82 84.5% 67.1%;
		--primary-foreground: 0 0% 0%;
		--secondary: 82 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 44 30% 25%;
		--muted-foreground: 82 5% 60%;
		--accent: 44 30% 25%;
		--accent-foreground: 82 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 82 5% 90%;
		--border: 82 30% 26%;
		--input: 82 30% 26%;
		--ring: 82 84.5% 67.1%;
		--radius: 0.5rem;
	}
}
