@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 85 100% 95%;
		--foreground: 85 5% 10%;
		--card: 85 50% 90%;
		--card-foreground: 85 5% 15%;
		--popover: 85 100% 95%;
		--popover-foreground: 85 100% 10%;
		--primary: 85 100% 30%;
		--primary-foreground: 0 0% 100%;
		--secondary: 85 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 47 30% 85%;
		--muted-foreground: 85 5% 35%;
		--accent: 47 30% 80%;
		--accent-foreground: 85 5% 15%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 85 5% 90%;
		--border: 85 30% 50%;
		--input: 85 30% 26%;
		--ring: 85 100% 30%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 82 50% 10%;
		--foreground: 82 5% 90%;
		--card: rgb(76, 133, 11);
		--card-foreground: 82 5% 90%;
		--popover: 82 50% 5%;
		--popover-foreground: 82 5% 90%;
		--primary: 82 84.5% 67.1%;
		--primary-foreground: 0 0% 0%;
		--secondary: 82 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 44 30% 25%;
		--muted-foreground: 82 5% 60%;
		--accent: 44 30% 25%;
		--accent-foreground: 82 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 82 5% 90%;
		--border: 82 30% 26%;
		--input: 82 30% 26%;
		--ring: 82 84.5% 67.1%;
		--radius: 0.5rem;
	}
}

.blog-post h1 {
	font-size: 2.5em;
}

.blog-post h2 {
	font-size: 2em;
}

.blog-post h3 {
	font-size: 1.75em;
}

.blog-post h4 {
	font-size: 1.5em;
}

.blog-post h5 {
	font-size: 1.25em;
}

.blog-post h6 {
	font-size: 1em;
}

.blog-post p {
	margin: 0 0 1.5em;
}

.blog-post a {
	color: #3498db;
	text-decoration: none;
}

.blog-post a:hover {
	text-decoration: underline;
}

.blog-post strong {
	font-weight: bold;
}

.blog-post em {
	font-style: italic;
}

.blog-post blockquote {
	font-style: italic;
	color: #666;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	border-left: 5px solid #ccc;
}

.blog-post ul,
ol {
	margin: 0 0 1.5em 1.5em;
}

.blog-post li {
	margin-bottom: 0.5em;
}

.blog-post code {
	font-family: "Courier New", Courier, monospace;
	background-color: #f4f4f4;
	padding: 2px 4px;
	border-radius: 4px;
	color: #c7254e;
}

.blog-post pre {
	font-family: "Courier New", Courier, monospace;
	background-color: #f4f4f4;
	padding: 10px;
	border-radius: 4px;
	overflow: auto;
}

.blog-post img {
	max-width: 100%;
	height: auto;
}

.blog-post figure {
	margin: 0 0 1.5em;
}

.blog-post figcaption {
	font-size: 0.9em;
	color: #666;
	text-align: center;
}

.blog-post hr {
	border: 0;
	height: 1px;
	background: #ccc;
	margin: 2em 0;
}

@media (max-width: 768px) {
	.blog-post h1 {
		font-size: 2em;
	}

	.blog-post h2 {
		font-size: 1.75em;
	}

	.blog-post h3 {
		font-size: 1.5em;
	}

	.blog-post h4 {
		font-size: 1.25em;
	}

	.blog-post h5 {
		font-size: 1em;
	}

	.blog-post h6 {
		font-size: 0.875em;
	}
}
